#logo {
	margin: -64px 0 0px -160px; /* play with these to position the image */
	/*position:absolute;*/
	z-index:100;
	width:156px;
	/*background-color: #fff;*/
	padding: 5px;
}

video {width:100%; height:100%; position:fixed; top:0px; left:0px; z-index:-1000;
  background-size: cover;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: white;
	font-family: 'Share Tech', sans-serif;

}

.h1, h1 {
	font-size: 40px;
	text-shadow: 0 2px 0 #1d5510;
	margin-top: 0px;
}


.h2, h2 {
	font-size: 36px;
	text-shadow: 0 2px 0 #1d5510;
}


.h3, h3 {
	font-family: 'Share Tech', sans-serif;
	color: white;
	font-size: 30px;
	text-shadow: 0 2px 0 #1d5510;
}

.margin-bottom-xs {margin-bottom: 5px;}  
.margin-bottom-sm {margin-bottom: 10px;} 
.margin-bottom-md {margin-bottom: 15px;}
.margin-bottom-lg {margin-bottom: 30px;}  

@keyframes imghover {
    from {opacity: .5;}
    to {opacity: 1;}
 }

@keyframes flash {
    from {opacity: 1;}
    to {opacity: 0;}
 }

@keyframes miss {
    from {opacity: 0;}
    to {opacity: 1;}
 }

.miss {
    animation-name: miss;
    animation-duration: 4s;
    animation-iteration-count: 1;
}


.gameoverFlash {
  animation-name: flash;
  animation-iteration-count: 3;
  animation-duration: .5s;
  /*animation-delay: 4.5s;*/

}

.battleground-message {
  animation-name: flash;
  animation-iteration-count: 3;
  animation-duration: .2s;
  /*animation-delay: .5s;*/

}

html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: url("../images/backdrop03.jpg"); /*backdrops 03, 05, 10 are good for body*/
  background-repeat: no-repeat;
  background-color: #525E6E;

}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform 300ms ease-out 0ms;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    transition-delay: 0ms;
/*    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
*/
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear 0ms;
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: linear;
    transition-delay: 0ms;
}

.main-messages {
	position: absolute;
	top: 80px;
	left: 240px;
}

.modal-dialog {
	margin: 15px auto;
}

.modal-header {
	padding: 0px;
}

#game-container {
	margin-left: 5px;
}

.flex-container {
    display: -webkit-center;
    display: center;
    width: 200px;
    height: 300px;
    margin-right: 10px;
    float: left;
	background: -moz-linear-gradient(0deg, #c0c0c0 0%, #ffffff 50%, #808080 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c0c0c0), color-stop(50%, #ffffff), color-stop(100%, #808080)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #c0c0c0 0%, #ffffff 50%, #808080 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, #c0c0c0 0%, #ffffff 50%, #808080 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, #c0c0c0 0%, #ffffff 50%, #808080 100%); /* ie10+ */
	background: linear-gradient(90deg, #c0c0c0 0%, #ffffff 50%, #808080 100%); /* w3c */ 

}

.flex-defeated {
	width: 200px;
    height: 300px;
    background-color: black;
    opacity: .6;
    z-index: 100;
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 25px;
}

.defeated {
	font-family: 'Share Tech', sans-serif;
  	font-size: 56px;
  	font-weight: bold;
  	color: red;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
    position: absolute;
    top: 112px;
    left: -7px;
}

.flex-item {
/*    background-color: white;*/
    width: 100%;
    margin: auto;
}

.flex-battle {
    display: -webkit-center;
    display: center;
    width: 200px;
    height: 300px;
    margin-right: 10px;
    float: left;
}

#rebel {
	border-radius: 25px;
    border: 10px double green;
}

#dark {
	border-radius: 25px;
    border: 10px double red;
}

.chooseplyrhdr {
	position: absolute;
	top: 0px;
	left: 0px;
}

.chooseopphdr {
	position: absolute;
	top: 355px;
	left: 0px;
}

.player0 {
	position: absolute;
	top: 50px;
	left: 0px;
}

.player1 {
	position: absolute;
	top: 50px;
	left: 210px;
}

.player2 {
	position: absolute;
	top: 50px;
	left: 420px;
}

.player3 {
	position: absolute;
	top: 50px;
	left: 630px;
}

.playerfighter {
	position: absolute;
	top: 293px;
	left: 289px;
}

.enemyfighter {
	position: absolute;
	top: 293px;
	left: 495px;
}

.playerName, .hp, .modal-title, .battleground-messages, .gameover-messages  {
	font-family: 'Share Tech', sans-serif;
	color: gold;
	font-size: 27px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.gameoverFlash {
	font-family: 'Share Tech', sans-serif;
	color: gold;
	font-size: 110px;
	font-weight: bold;
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.modal-content {
    background: -moz-linear-gradient(0deg, #c0c0c0 0%, #ffffff 50%, #808080 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c0c0c0), color-stop(50%, #ffffff), color-stop(100%, #808080)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #c0c0c0 0%, #ffffff 50%, #808080 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, #c0c0c0 0%, #ffffff 50%, #808080 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, #c0c0c0 0%, #ffffff 50%, #808080 100%); /* ie10+ */
	background: linear-gradient(90deg, #c0c0c0 0%, #ffffff 50%, #808080 100%); /* w3c */ 
}

.battleground-body {
	background-image: url("../images/backdrop08.jpg"); /*backdrops 01, 02, 07, 08, 09 are good for modals*/
	min-height: 575px;
}

.gameover-body {
	background-image: url("../images/backdrop08.jpg"); /*backdrops 01, 02, 07, 08, 09 are good for modals*/
	min-height: 575px;
}

.btn-lg {
	background: #525E6E;
	color: white;
	text-shadow: none;
}

.btn-attack {
	position: absolute;
	left: 15px;
}

.btn-newgame {
	margin-left: 360px;
}
